[submodule "uSockets"]
	path = uSockets
	url = https://github.com/delude88/uSockets.git
[submodule "fuzzing/libEpollFuzzer"]
	path = fuzzing/libEpollFuzzer
	url = https://github.com/delude88/libEpollFuzzer
